TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
SQLALCHEMY_DATABASE_URI=postgresql+psycopg://neondb_owner:npg_GLdmehZ46cJw@ep-withered-poetry-adaele41-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=your_secret_key
